<!DOCTYPE HTML>
<html lang="en" ng-app="animationCreator">
	<head>
		<title>AnimationCreator v1.1.0</title>
		<!-- jQuery -->
		<script src="js/jquery.js"></script>
				
		<!-- AngularJS -->
		<script src="js/angularjs/angular.min.js"></script>
		
		<link rel="stylesheet" type="text/css" href="css/style.css">
		
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-switch.css">
		<link rel="stylesheet" type="text/css" href="bootstrap/css/context.standalone.css">
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script src="bootstrap/js/bootstrap-switch.min.js"></script>
		<script src="bootstrap/js/context.js"></script>
		<!-- Minecraft font style -->
		<link rel="stylesheet" type="text/css" href="css/minecraftfont.css">
		<script src="js/minecraftfont.js"></script>
		<script src="js/js-yaml.js"></script>
		<script>
			var clearInput = false;
			$(window).resize(function() {
				var bodyheight = $(document).height();
				$("#frames").height((270 + (bodyheight - 685)) >= 270 ? (270 + (bodyheight - 685)) : 270);
				$("#yaml").height((214 + (bodyheight - 685)) >= 214 ? (214 + (bodyheight - 685)) : 214);
			});
			$(document).ready(function(){
				var bodyheight = $(document).height();
				$("#frames").height((270 + (bodyheight - 685)) >= 270 ? (270 + (bodyheight - 685)) : 270);
				$("#yaml").height((214 + (bodyheight - 685)) >= 214 ? (214 + (bodyheight - 685)) : 214);
				$("#frameText").keyup(function(event){
					if(event.keyCode == 13){
						$("#addFrameButton").click();
					}
				});
			
				initContextInput();
				function initContextInput(){
					context.init({preventDoubleContext: false});

					context.settings({compress: true});

					context.attach('#frameText', [
						{header: 'Frame options'},
						{text: 'Insert color ...', subMenu: [
							{header: 'Minecraft colors'},
							{text: "Dark colors ...", subMenu: [
								{text: convertToMinecraftChat(convertMinecraftTextToHTML('&0Black')), action: function(e){$('#frameText').val($('#frameText').val() + "&0");}},
								{text: convertToMinecraftChat(convertMinecraftTextToHTML('&1Dark blue')), action: function(e){$('#frameText').val($('#frameText').val() + "&1");}},
								{text: convertToMinecraftChat(convertMinecraftTextToHTML('&2Dark green')), action: function(e){$('#frameText').val($('#frameText').val() + "&2");}},
								{text: convertToMinecraftChat(convertMinecraftTextToHTML('&3Dark aqua')), action: function(e){$('#frameText').val($('#frameText').val() + "&3");}},
								{text: convertToMinecraftChat(convertMinecraftTextToHTML('&4Dark red')), action: function(e){$('#frameText').val($('#frameText').val() + "&4");}},
								{text: convertToMinecraftChat(convertMinecraftTextToHTML('&5Purple')), action: function(e){$('#frameText').val($('#frameText').val() + "&5");}},
								{text: convertToMinecraftChat(convertMinecraftTextToHTML('&8Dark grey')), action: function(e){$('#frameText').val($('#frameText').val() + "&8");}}
							]},
							{text: "Light colors ...", subMenu: [
								{text: convertToMinecraftChat(convertMinecraftTextToHTML('&6Orange')), action: function(e){$('#frameText').val($('#frameText').val() + "&6");}},
								{text: convertToMinecraftChat(convertMinecraftTextToHTML('&7Grey')), action: function(e){$('#frameText').val($('#frameText').val() + "&7");}},
								{text: convertToMinecraftChat(convertMinecraftTextToHTML('&9Indigo')), action: function(e){$('#frameText').val($('#frameText').val() + "&9");}},
								{text: convertToMinecraftChat(convertMinecraftTextToHTML('&aGreen')), action: function(e){$('#frameText').val($('#frameText').val() + "&a");}},
								{text: convertToMinecraftChat(convertMinecraftTextToHTML('&bAqua')), action: function(e){$('#frameText').val($('#frameText').val() + "&b");}},
								{text: convertToMinecraftChat(convertMinecraftTextToHTML('&cRed')), action: function(e){$('#frameText').val($('#frameText').val() + "&c");}},
								{text: convertToMinecraftChat(convertMinecraftTextToHTML('&dPink')), action: function(e){$('#frameText').val($('#frameText').val() + "&d");}},
								{text: convertToMinecraftChat(convertMinecraftTextToHTML('&eYellow')), action: function(e){$('#frameText').val($('#frameText').val() + "&e");}},
								{text: convertToMinecraftChat(convertMinecraftTextToHTML('&fWhite')), action: function(e){$('#frameText').val($('#frameText').val() + "&f");}}
							]}
						]},
						{text: 'Insert effect ...', subMenu: [
							{header: 'Minecraft effects'},
							{text: convertToMinecraftChat(convertMinecraftTextToHTML('&f&lBOLD')), action: function(e){$('#frameText').val($('#frameText').val() + "&l");}},
							{text: convertToMinecraftChat(convertMinecraftTextToHTML('&f&oItalic')), action: function(e){$('#frameText').val($('#frameText').val() + "&o");}}
						]},
						{divider: true},
						{text: (!clearInput ? "Clear input on enter" : "Keep input on enter") ,action: function(e){if (clearInput){ clearInput = false; }else{ clearInput = true;} context.destroy('#frameText'); initContextInput();}}
					]);
				}
			});
			'use strict';
			var animationCreator = angular.module('animationCreator',[]);
			animationCreator.controller('AnimationController',  ['$scope', '$sce','$interval', function ($scope,$sce,$interval) {
			  $scope.animation = [];
			  $scope.interval = 20;
			  $scope.random = false;
			  $scope.index = 0;
			  $scope.yaml = "text: []<br>interval: 20<br>random: false";
			  $scope.addFrame = function(){
				var line = $('#frameText').val();
				var frame = {
					yaml: line,
					html: convertMinecraftTextToHTML(line)
				};
				$scope.animation.push(frame);
				$scope.updateYaml();
				if (clearInput){
					 $('#frameText').val("");
				}
			  };
			  $scope.removeFrame = function(index){
				$scope.animation.splice(index,1);
				$scope.updateYaml();
			  };
			  $scope.moveUp = function(index){
				if ((index-1) >= 0)
					$scope.animation = $scope.animation.move(index,index-1);
				$scope.updateYaml();
			  };
			  $scope.changeInterval = function(){
				$scope.interval = $('#interval').val();
				if (timer != null)
					$interval.cancel(timer);
				timer = $interval(animator, (1000/ 20) * $scope.interval);
				$scope.updateYaml();
			  };
			  $scope.togglePause = function(){
				if (timer == null){
					$scope.start();
				}else{
					$scope.pause();
				}
			  };
			  $scope.isRunning = function(){
				if (timer == null){
					return false;
				}else{
					return true;
				}
			  };
			  $scope.updateYaml = function(){
				$scope.yaml = "text: []<br>interval: 20<br>random: false";
				if ($scope.animation.length > 0){
					$scope.yaml = "text:<br>";
					for (var i=0; i<$scope.animation.length; i++) {
						$scope.yaml += "- '" + $scope.animation[i].yaml + "'<br>";
					}
					$scope.yaml += "interval: " + $scope.interval + "<br>";
					$scope.yaml += "random: false<br>";
				}
			  };
			  $scope.delete = function(){
				$scope.interval = 20;
				$scope.animation = [];
				$('#frameText').val("");
				$('#preview-frame').text("");
				$('#preview-animation').text("No animation");
				$('#interval').val(20);
				$scope.yaml = "text: []<br>interval: 20<br>random: false";
			  };
			  $scope.pause = function(){
					$interval.cancel(timer);
					timer = null;
			  };
			  $scope.start = function(){
					timer = $interval(animator, (1000/ 20) * $scope.interval);
			  };
			  $scope.moveDown = function(index){
				if ($scope.animation.length > (index+1))
					$scope.animation = $scope.animation.move(index,index+1);
				$scope.updateYaml();
			  };
			  $scope.toTrustedHTML = function( html ){
				return $sce.trustAsHtml( html );
			  };
			  var timer = $interval(animator,(1000/ 20) * $scope.interval);
			  function animator(){
				if ($scope.index >= $scope.animation.length){
					$scope.index = 0;
				}
				if ($scope.animation.length != 0){
					var frame = $scope.animation[$scope.index];
					$scope.index++;
					$('#preview-animation').html(frame.html);
				}else{
					$('#preview-animation').html("No animation");
				}
			  }
			}]);
			Array.prototype.move = function (old_index, new_index) {
				if (new_index >= this.length) {
					var k = new_index - this.length;
					while ((k--) + 1) {
						this.push(undefined);
					}
				}
				this.splice(new_index, 0, this.splice(old_index, 1)[0]);
				return this; // for testing purposes
			};
		</script>
	</head>
	<body ng-controller="AnimationController">
		<div class="jumbotron">
			<div class="row" style="margin: 5px;">
				<div class="col-md-3 buttons">
					<button ng-click="togglePause();" class="btn btn-primary">
						<span ng-if="!isRunning();">
							<span class="glyphicon glyphicon-play"></span>
						</span>
						<span ng-if="isRunning();">
							<span class="glyphicon glyphicon-pause"></span>
						</span>
					</button>
					<button class="btn btn-danger" ng-click="delete();";><span class="glyphicon glyphicon-trash"></span></button>
				</div>
				<div class="col-md-9">
				  <div id="preview-animation" class="minecraft-chat" style="font-size: 18px; margin-left: auto; margin-right: auto; width:500px; margin-top: 8px;";>
					No animation
				  </div>
				</div>
			</div>
		</div>
		<div class="row" style="margin: 5px;">
			<div class="col-md-6">
				<div class="panel panel-default">
				  <div class="panel-body">
					<div class="row" style="margin: 5px;">
						<form>
							<div class="col-md-6">
								<div class="form-group">
									<label for="interval">Animation interval</label>
									<input type="number" ng-model="confirmed" ng-change="changeInterval();" class="black-input form-control" id="interval" placeholder="20" value="20" style="height: 35px";>
								</div>
							</div>
						</form>
					</div>
				  </div>
				</div>
				<div class="panel panel-default" id="framePanel">
				  <div class="panel-heading">Animation frames</div>
				  <div class="panel-body" id="frames">
					<div class="row" style="" ng-repeat="frame in animation">
						<div class="col-md-4" style="width: 160px;">
							<div class="btn-group" role="group" aria-label="...">
								<button ng-click="moveUp($index);" class="btn btn-success" ng-disabled="$first"><span class="glyphicon glyphicon-chevron-up"></span></button>
								<button ng-click="moveDown($index);" class="btn btn-success" ng-disabled="$last"><span class="glyphicon glyphicon-chevron-down"></span></button>
							</div>
							<button ng-click="removeFrame($index);" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
						</div>
						<div class="col-md-8">
							<div class="minecraft-chat" style="font-size: 14px; margin-top: 5px;" ng-bind-html="toTrustedHTML(frame.html);">
							
							</div>
						</div>
					</div>
				  </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-warning">
				  <div class="panel-body">
					<div class="row" style="margin: 5px;">
						<div class="well" style="height: 120px;">
							<div class="panel-heading">Live preview <small>(Please keep in mind that preset effects are not supported)</small></div>
							<div id="preview-frame" class="minecraft-chat" style="font-size: 14px; margin-top: 10px; margin-left: 5px;";>
							
							</div>
						</div>
					</div>
					<div class="row" style="margin: 5px;">
						<div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
							<div class="input-group">
								<input type="text" maxlength="48" class="selectable big-text black-input form-control" id="frameText" onkeyup="$('#preview-frame').html(convertMinecraftTextToHTML(this.value));" placeholder="Put your frame line here";>
								<span class="input-group-btn">
									<button ng-click="addFrame();" id="addFrameButton" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
								</div>
							</div>
						</div>
					</div>
					<div class="row" style="margin: 5px;">
						<div class="col-md-12">
							<pre class="selectable" id="yaml"><code ng-bind-html="toTrustedHTML(yaml);">
								
							</code></pre>
						</div>
					</div>
				  </div>
				</div>
			</div>
		</div>
		<footer>
			
		</footer>
	</body>
</html>